<section class="section LogoBar">
    <div class="f-container f-container-center">
        <div class="LogoBar__wrapper">
            <ul class="LogoBar__slider-content">
                <li class="LogoBar__slider-slide">
                    <img src="[resources:AXA.svg]" alt="AXA logo">
                </li>
                <li class="LogoBar__slider-slide">
                    <img src="[resources:Aviva.svg]" alt="Aviva logo">
                </li>
                <li class="LogoBar__slider-slide">
                    <img src="[resources:Bupa.svg]" alt="Bupa logo">
                </li>
                <li class="LogoBar__slider-slide">
                    <img src="[resources:Healix.svg]" alt="Healix logo">
                </li>
                <li class="LogoBar__slider-slide">
                    <img src="[resources:Vitality.svg]" alt="Vitality logo">
                </li>
                <li class="LogoBar__slider-slide">
                    <img src="[resources:Patient-Access.svg]" alt="Patient Access logo">
                </li>
                <li class="LogoBar__slider-slide">
                    <img src="[resources:WPA.svg]" alt="WPA logo">
                </li>
                <li class="LogoBar__slider-slide">
                    <img src="[resources:Care-Quality-Commission.svg]" alt="Care Quality Commission logo">
                </li>
            </ul>
        </div>
    </div>
</section>
