<section class="TileContainer">
    <div class="f-container f-container-center">
        <h2 class="TileContainer__header">
            <span>Find the right treatment for you. <span class="TileContainer__header__add-text"> Select below to learn more.</span></span>
        </h2>
        <ul class="TileContainer__container">
            <li class="TileContainer__tile">
                <a href="#" class="TileContainer__box-link">
                    <div class="TileContainer__icon">
                        <img src="[resources:Orthopaedics.svg]" alt="Orthopaedics icon" data-lfr-editable-id="speciality-1-img" data-lfr-editable-type="image">
                    </div>
                    <div class="TileContainer__text-content">
                        <h3 class="TileContainer__heading" data-lfr-editable-id="speciality-1-title" data-lfr-editable-type="text">Orthopaedics</h3>
                        <p class="TileContainer__desc" data-lfr-editable-id="speciality-1-desc" data-lfr-editable-type="text">Bones and joints</p>
                    </div>
                </a>
            </li>
            <li class="TileContainer__tile">
                <a href="#" class="TileContainer__box-link">
                    <div class="TileContainer__icon">
                        <img src="[resources:Cardiology.svg]" alt="Cardiology icon" data-lfr-editable-id="speciality-2-img" data-lfr-editable-type="image">
                    </div>
                    <div class="TileContainer__text-content">
                        <h3 class="TileContainer__heading" data-lfr-editable-id="speciality-2-title" data-lfr-editable-type="text">Cardiology</h3>
                        <p class="TileContainer__desc" data-lfr-editable-id="speciality-2-desc" data-lfr-editable-type="text">Heart</p>
                    </div>
                </a>
            </li>
            <li class="TileContainer__tile">
                <a href="#" class="TileContainer__box-link">
                    <div class="TileContainer__icon">
                        <img src="[resources:Gynaecology.svg]" alt="Gynaecology icon" data-lfr-editable-id="speciality-3-img" data-lfr-editable-type="image">
                    </div>
                    <div class="TileContainer__text-content">
                        <h3 class="TileContainer__heading" data-lfr-editable-id="speciality-3-title" data-lfr-editable-type="text">Gynaecology</h3>
                        <p class="TileContainer__desc" data-lfr-editable-id="speciality-3-desc" data-lfr-editable-type="text">Reproductive care</p>
                    </div>
                </a>
            </li>
            <li class="TileContainer__tile">
                <a href="#" class="TileContainer__box-link">
                    <div class="TileContainer__icon">
                        <img src="[resources:General-surgery.svg]" alt="General surgery icon" data-lfr-editable-id="speciality-4-img" data-lfr-editable-type="image">
                    </div>
                    <div class="TileContainer__text-content">
                        <h3 class="TileContainer__heading" data-lfr-editable-id="speciality-4-title" data-lfr-editable-type="text">General surgery</h3>
                        <p class="TileContainer__desc" data-lfr-editable-id="speciality-4-desc" data-lfr-editable-type="text">Hernia, breast</p>
                    </div>
                </a>
            </li>
            <li class="TileContainer__tile">
                <a href="#" class="TileContainer__box-link">
                    <div class="TileContainer__icon">
                        <img src="[resources:Ophthalmology.svg]" alt="Ophthalmology icon" data-lfr-editable-id="speciality-5-img" data-lfr-editable-type="image">
                    </div>
                    <div class="TileContainer__text-content">
                        <h3 class="TileContainer__heading" data-lfr-editable-id="speciality-5-title" data-lfr-editable-type="text">Ophthalmology</h3>
                        <p class="TileContainer__desc" data-lfr-editable-id="speciality-5-desc" data-lfr-editable-type="text">Eye care</p>
                    </div>
                </a>
            </li>
            <li class="TileContainer__tile">
                <a href="#" class="TileContainer__box-link">
                    <div class="TileContainer__icon">
                        <img src="[resources:Urology.svg]" alt="Urology icon" data-lfr-editable-id="speciality-6-img" data-lfr-editable-type="image">
                    </div>
                    <div class="TileContainer__text-content">
                        <h3 class="TileContainer__heading" data-lfr-editable-id="speciality-6-title" data-lfr-editable-type="text">Urology</h3>
                        <p class="TileContainer__desc" data-lfr-editable-id="speciality-6-desc" data-lfr-editable-type="text">Urinary health</p>
                    </div>
                </a>
            </li>
            <li class="TileContainer__tile">
                <a href="#" class="TileContainer__box-link">
                    <div class="TileContainer__icon">
                        <img src="[resources:Dermatology.svg]" alt="Dermatology icon" data-lfr-editable-id="speciality-7-img" data-lfr-editable-type="image">
                    </div>
                    <div class="TileContainer__text-content">
                        <h3 class="TileContainer__heading" data-lfr-editable-id="speciality-7-title" data-lfr-editable-type="text">Dermatology</h3>
                        <p class="TileContainer__desc" data-lfr-editable-id="speciality-7-desc" data-lfr-editable-type="text">Skin</p>
                    </div>
                </a>
            </li>
            <li class="TileContainer__tile">
                <a href="#" class="TileContainer__box-link">
                    <div class="TileContainer__icon">
                        <img src="[resources:ENT.svg]" alt="ENT icon" data-lfr-editable-id="speciality-8-img" data-lfr-editable-type="image">
                    </div>
                    <div class="TileContainer__text-content">
                        <h3 class="TileContainer__heading" data-lfr-editable-id="speciality-8-title" data-lfr-editable-type="text">ENT</h3>
                        <p class="TileContainer__desc" data-lfr-editable-id="speciality-8-desc" data-lfr-editable-type="text">Ears, nose, throat</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
