<div class="ch-promo-cards-fragment">
  <div class="ch-large-image">
      <div class="f-container f-container-center">
          <ul class="ch-large-image__list">
                  <li class="ch-large-image__tile">
                      <img src="https://webserver-lctbootsopticians-prd.lfr.cloud/documents/d/circle-health-group/promo1-2" alt="Nurse talking with a patient" data-lfr-editable-id="singlePromoImage" data-lfr-editable-type="image">
                      <h3 class="ch-large-image__tile-heading" data-lfr-editable-id="singlePromoTitle" data-lfr-editable-type="text">
                          Your private healthcare journey
                      </h3>
                      <div class="ch-large-image__desc-content">
                          <p class="ch-large-image__tile-desc" data-lfr-editable-id="singlePromoDesc" data-lfr-editable-type="text">Every stage of your care with us, from diagnosis to recovery, is focused on you. We want to give you the best possible experience, with fast access to treatments and no waiting lists</p>
                      </div>
                      <div class="ch-large-image__desc-content ch-large-image__desc-content--cta">
                          <a href="#" class="f-btn f-btn-xxlarge f-btn-lighter-blue f-btn--no-shadow" data-lfr-editable-id="singlePromoButtonLink" data-lfr-editable-type="link">
                              Your patient journey
                          </a>
                      </div>
                  </li>
          </ul>
      </div>
  </div>
</div>
